<!DOCTYPE html>
    <head>
        <title>맛집 리뷰</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <style>

        </style>
    </head>

    <body>
        <!-- nav bar -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">맛집</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#">맛집 목록</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">맛집 등록</a>
                    </li>
                    <!--로그인,회원가입 및 로그아웃-->
                    <!--로그인했을때만 로그아웃과 맛집등록 버튼 뜨도록? 이건 개발팀이랑 상의 후에-->
                </ul>
            </div>
        </nav>

        <!--comment(리뷰)작성화면 구성은 젤 나중에 구현-->
    </body>
</html>