<!DOCTYPE html>
    <head>
        <title>맛집 리뷰</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <style>
            .matzip_list {
                margin: 1rem 7rem;
            }
            .matzip_list .matzip {
                margin: 0.5rem;
                padding:1rem;
                border-radius: 0.5em;
                border: 1.5px solid rgb(213, 213, 213);
            }
        </style>
    </head>

    <body>
        <!-- nav bar -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="{% url 'index' %}">맛집</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'index' %}">맛집 목록</a>
                    </li>
                    
                    
                   

                    <!-- 멋사 강의 자료 참고 -->
                    {% if user.is_authenticated %}
                    <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">환영합니다. {{ user.username }} 님!</a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="{% url 'create' %}">맛집 등록</a>
                                <a class="dropdown-item" href="javascript:{document.getElementById('logout').submit()}">Logout</a>
                                <form id="logout" method="POST" action="{% url 'logout' %}">
                                    {% csrf_token %} <input type="hidden" />
                                </form>
                            </div>
                        </li>
                    <!--<li class="nav-item">
                        <a class="nav-link" href="{% url 'create' %}">맛집 등록</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">로그아웃</a>
                    </li>-->
                    
                    {% else %}
                    <li class="nav-item">
                            <a class="nav-link" href="{% url 'login' %}">로그인</a>
                    </li>
                    <li class="nav-item">
                            <a class="nav-link" href="{% url 'signup' %}">회원가입</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </nav>

        <!-- 맛집목록-->
        <div class="matzip_list">
            <!--탬플릿 태그로 for문 돌려서 matzip클래스 반복-->
            {% for blog in blogs.all %}
            <div class="matzip">
                <!--views에서 가져온 변수명으로 탬플릿 작성-->
                <h3>{{ blog.가게명 }}</h3>
                <small>{{ blog.주소 }}</small>
                <p><img src="{{ blog.사진.url }}"></p>
                    <a href="{% url 'detail' blog.id %}">자세히보기</a> &emsp;
                    <a href="{% url 'update' blog.id %}">수정하기</a> &emsp;
                    <a href="{% url 'delete' blog.id %}">삭제하기</a> &emsp; <!--4칸띄움--> 
            </div>
            {% endfor %}
        </div> 
    </body>
</html>